.DS_[Ss]tore
exercises/week1/baseballXB
exercises/week2/exerciseA
exercises/week2/exerciseB
exercises/week3/biggerList
exercises/week3/exerciseA
exercises/week3/exerciseB
exercises/week4/burritoOrdered
exercises/week4/burritosSold
exercises/week5/creditcards
exercises/week8/pwchecker
exercises/week9/
hw02/blackjack
hw03/#hw03.cpp#
hw03/numberGuess.cpp~
hw03/numguess
hw04/pokerhand
hw07/tasks

